html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}

.App{
    height:100%;
    width: 100%;
}

#root{
    height:80%;
    width: 100%;
}


.main{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;

}

.map-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  length: 100%;
  width: 65%;
  z-index: 1;

}
.getlost-button{

    margin: 0px auto;

}
.map {
  height:100%;
  width:100%;

}

.sidebar{
    height: 100%;
    width: 35%;
    overflow: hidden;

}

.anotherCity{
    position: fixed;
    margin-top: 40%;
    z-index: 2;
}

.likeCity{
    position: fixed;
    margin-top: 40%;
    margin-left: 5%;
    z-index: 2;
}

.search{
    position: fixed;
    margin-top: 35%;
    margin-left: 2.5%;
    z-index: 2;
    display: none;

}

scroll-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;

}

scroll-page {

    align-items: center;
    min-height: min-content;
    margin: auto;
    height: 20%;
    margin: 0;
    background-color: aliceblue;
    border: 1px solid black;
}

.place {


}