html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}

.App{
    height:100%;
    width: 100%;
}

#root{
    height:80%;
    width: 100%;
}


.main{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.map-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  length: 100%;
  width: 65%;
  z-index: 1;

}
.getlost-button{

    margin: 0px auto;

}
.map {
  height:100%;
  width:100%;

}

.sidebar{
    height: 100%;
    width: 35%;

}

.anotherCity{
    position: fixed;
    margin-top: 30%;
    z-index: 2;
}

.likeCity{
    position: fixed;
    margin-top: 30%;
    margin-left: 5%;
    z-index: 2;
}

.search{
    position: fixed;
    margin-top: 25%;
    margin-left: 2.5%;
    z-index: 2;
    display: none;

}